<div class="main"> 
  <div class="background">
    <div class="d-flex justify-content-center">
      <h2>War and Peace</h2>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Upload Documents</label>
      <div class="row" id="firstrow">
        <input class="form-control" type="file" id="formFile" accept=".txt" (change)="getOutput($event)">
        <mat-spinner  *ngIf="spinner" [diameter]="30" color=warn></mat-spinner>
      </div>
    </div>
    <div class="form-group row" id="secondRow">
      <div class="col-sm-5">
          <input class="form-control" type="search" placeholder="Search" (change)="searchData($event)">
      </div>
      <div class="col-sm-2">
        <button type="submit"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
      </div>
      <div  class="col-sm-5">
        <div id="label"></div>
        <select class="form-select" aria-label="Default select example" id="select" (change)="selectValue()">
          <option selected value="0">Select one ...</option>
          <option value="1">Sort By Word Count</option>
          <option value="2">Sort By Word Length(>6)</option>
        </select>
      </div>
    </div>
    <div class="undersearch">
      <ul>
        <li>
          <table class="table ">
            <thead class="table-dark">
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Word</th>
                <th scope="col">Word Count</th>
              </tr>
            </thead>
            <tbody *ngIf="firstEnable" class="table-secondary" >
              <tr *ngFor="let obj of final; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{obj.word}}</td>
                <td>{{obj.wordCount}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="secondEnable" class="table-secondary" >
              <tr *ngFor="let obj of task1; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{obj.word}}</td>
                <td>{{obj.wordCount}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="thirdEnable" class="table-secondary" >
              <tr *ngFor="let obj of task2; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{obj.word}}</td>
                <td>{{obj.wordCount}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="search" class="table-secondary" >
              <tr *ngFor="let obj of searchTask; index as i">
                <th scope="row">{{i+1}}</th>
                <td>{{obj.word}}</td>
                <td>{{obj.wordCount}}</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
      <div class="d-flex justify-content-end" *ngIf="!firstEnable"><h4>Execution time : {{executeTime |number }} Millisecond</h4></div>
    </div>
  </div>
</div>